NODE_ENV=development

PORT=8080

API_PREFIX=/api/v1

FRONTEND_URL=http://localhost:5173

MONGO_URI=

DB_NAME=CARRIER_COPILOT

JWT_ACCESS_SECRET=

JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=30d

BCRYPT_SALT_ROUNDS=10